/* bg-primary háttérszín módosítása: */
.bg-primary {
    background-color: #1abc9c !important;
}

/* Szolgáltatások szekció: szolgaltatasok-item elemek egy sorban, azonos szélességgel közepes és nagy kijelzőn */
@media (min-width: 768px) {
    .szolgaltatasok-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    .szolgaltatasok-item {
        flex: 1 1 0;
        max-width: 300px;
    }
}

/* #rolunk-felirat stílusának beállítása */
#rolunk-felirat {
    font-size: 42px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
}